// $font-size-root = 65%
html,body {
    font-size: 65%!important;
}
body {
    background: #95000c url("../assets/bkg.jpg") 0 center no-repeat;
    background-size: 100% auto;
}
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    position: relative;
    overflow: hidden;
    background: none!important;
}
@import '~vuetify/src/stylus/main'